{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 text-align="center">Introducing RavenScout</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    <p font-size="18px">The web application we've developed is called "RavenScout". It's made to 
        help out teams in the First Robotics Competition by providing them with trusted and specific stats on
        different teams' robots. Trusted users will be able to upload new data immediately following an FRC match, 
        that'll then get displayed on our website the form of data visualizations. <a href="https://github.com/FusionStreak/RavenScout" target="_blank">Here</a> is where you can find the GitHub repository for this web application. 
    </p>
    
{% endblock %}