{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 style="text-align:center" style="font-size: 32px">Introducing RavenScout</h1><br>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    <p style="font-size:18px" style="font-weight:normal">The web application we've developed is called "RavenScout". It was made to 
        help teams out in the First Robotics Competition by providing them with trusted and specific stats on
        different teams' robots. 'Trusted users' will be able to upload new data immediately following an FRC match, 
        that'll then get displayed on our website the form of data visualizations. 
    </p>
    <p><a href="https://github.com/FusionStreak/RavenScout" target="_blank">Here</a> is where you can find the GitHub repository for this web application. 
    </p>

    <p style="font-size:18px" style="font-weight:normal">You can also find our inital plan for the website at <a href="https://danielagapov-summative.netlify.app/about-ravenscout.html">this link</a>. 
        This plan was part of a robotics summative belonging to one of our developers, Daniel Agapov, and was created in March 2020. Though, 
        there have been some changes since then, and this is all the updated information about our web application:
    </p>
    <h3 style="font-weight: bold"><u>Contributors</u></h3>
    <p style="font-size:18px" style="font-weight:normal">At first, this was just a project started by Sayfullah Eid, but then Daniel Agapov and Hassan Ali began helping. 
        The three of us have all worked on the programming aspect of it, while there are other FRC members consluting us as for future implementations.
    </p>

    <h3 style="font-weight: bold"><u>Trusted Users</u></h3>
    <p style="font-size:18px" style="font-weight:normal">Initially, the website's database will only contain the login details for certain teams' trusted users. 
        We can manually input these fields into the database under a "trusted_user" model to be checked upon 
        any attempted login to our website. 
    </p>
    
    <h3 style="font-weight: bold"><u>Data Processing</u></h3>
    <p style="font-size:18px" style="font-weight:normal">Data will be uploaded by trusted users in a standardised CSV file, with a corresponding format to that of 
        the current year's competition. There will be a form to submit new data which will contain a few fields
        to aid with categorizing the file, such as: event, team number, date, as well as, one to submit their 
        form into. 
    </p>
    
    <h3 style="font-weight: bold"><u>Pulling Data</u></h3>
    <p style="font-size:18px" style="font-weight:normal">This web application will be able to pull data from <a href="https://www.thebluealliance.com/apidocs" target="_blank">The Blue Alliance API</a>, a popular web application used for similar data-storing tasks to 
        our web application. We can accomplish this task by web-scraping their data from the internet and then 
        including it into models for their data, separated form our data. 
    </p>

    <h3 style="font-weight: bold"><u>Checking Data</u></h3>
    <p style="font-size:18px" style="font-weight:normal">For certain data fields, we'll be able to cross-reference with The Blue Alliance's API, once it's up on their website. 
        This will be done to validate some of the data sent in my our trusted users. Since, there's is always 
        accurate. The only problem with corss-referencing all data fields we have, is that we're going to have 
        much more specific fields that aren't going to be part of their API. 
    </p>

    <h3 style="font-weight: bold"><u>Database Models</u></h3>
    <p style="font-size:18px" style="font-weight:normal">This is our current schematic of what fields each database model would contain(onosh, onott, and onnob are code names for competitions in Ontario in 2020):
        <br><br><img src="/app/templates/img/diagram.jpg">
    </p>

    <h3 style="font-weight: bold"><u>Displaying Data</u></h3>
    <p style="font-size:18px" style="font-weight:normal">Aggregated data will be displayed in the form of graphs, data visualizations, and such.
    </p>

    <h3 style="font-weight: bold"><u>Website Pages</u></h3>
    <p style="font-size:18px" style="font-weight:normal">Much like how this website has 3 different pages to navigate to in its navigation bar, we're planning to have a few. All of them 
        will be accessible to anyone that visits the website, except for the "Upload Data" page. Here are the ones we're thinking of having 
        as of now(subject to change in the future):
        <ul>
            <li style="font-size: 20px">Home: This is where anyone will be able to see all the latest data uploads from the most recent events. For every data upload, 
                it'll include: the Team's user, how long ago it was uploaded, and the data itself. This page will have implemented 
                "pagination"(see <a href="write-up.html" target="_blank">Chapter 9</a>) of my write-up. This will allow for only the 20 or so most recent data uploads 
                to show on one page, with "Next Page" and "Previous Page" buttons to go through. 
            </li>
            <li style="font-size: 20px">Events: A page for anyone to find a specific event from. It will categorize by: year, event, round, match. Then, from these events, 
                you can see information like standings and game scores. From these matches, though, you can click on specific teams' robots. 
            </li>
            <li style="font-size: 20px">Teams: This is going to be a page dedicated to finding teams using a search bar on the top. Once you click on specific teams' robots, 
                their most recent match data will show up, much like the Home page. This data will be able to get filtered and sorted as to accomodate 
                the visitor's needs. These filtrations may include things like: average scores from a specified number of matches in the past(i.e. 
                average balls scored into the low goal from the last 10matches), how many of their past matches show up on the page at once(like in the 
                Home page), preferred method of scoring, and more. Along with that, though, will be their information, retrieved from 
                The Blue Alliance's API. This will include, their profile picture, past year data, sponsors, events they've attended/are attending. 
            </li>
            <li style="font-size: 20px">Login/Logout: If logged in, this will simply log you out of your account. If you're not logged in, you'll be redirected to a "Login" 
                page. This will include the username and password form fields for you to fill out. As well as, a "register" button, and a "forgot password" one.
            </li>
            <li style="font-size: 20px">Register: This will include the "username", "email", "password", and "confirm password" form fields for users to fill out. 
            </li>
        </ul>
    </p>

    <h3 style="font-weight: bold"><u>Possible Mobile Application</u></h3>
    <p style="font-size:18px" style="font-weight:normal">As of right now, this is far beyond what we're currently planning. Especially since, the internet web application will also be accessible 
        for mobile users. However, it may come in the distant future. 
    </p>
    
{% endblock %}